.howworks-section {
    width: 100%;
    background: #ffffff;
    padding: 70px 0;
    overflow: hidden;
}

/* TITLE */
.howworks-title {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #111827;
    margin-bottom: 35px;
}

/* IMAGE WRAP */
.howworks-img-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* IMAGE */
.howworks-img {
    width: 100%;
    max-width: 1100px;
    height: auto;
    object-fit: contain;
    display: block;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .howworks-title {
        font-size: 32px;
        margin-bottom: 25px;
    }

    .howworks-img {
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .howworks-section {
        padding: 50px 0;
    }

    .howworks-title {
        font-size: 26px;
    }
}