/* ===============================
   RESPONSIVE BEHAVIOR
================================ */

/* Tablets */
@media (max-width: 991px) {
    .cta-buttons {
        justify-content: center;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .cta-buttons {
        flex-direction: column;
        gap: 14px;
    }

    .cta-buttons .btn {
        width: 100%;
        justify-content: center;
    }

    .cta-buttons .btn img {
        width: 26px;
        height: 26px;
    }
}

@media (max-width: 575.98px) {
    .hero-image-center {
        display: flex;
        justify-content: center;
    }

    .responsive-btn {
        font-size: 12px !important;
        padding-inline: 10px !important;
    }
    .w-sm-20{
        width: 20px !important;
    }
}