h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif !important;
}

/* Content (paragraph + normal text) */
body,
p,
span,
li,
a,
button,
input,
textarea {
  font-family: "Syne", sans-serif !important;
}