@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif !important;
}

/* Content (paragraph + normal text) */
body,
p,
li,
a,
input,
textarea {
  /* font-family: "Syne", sans-serif !important; */
}

.fs-desc {
  font-size: 18px;
}